<!-- <nav class="navbar navbar-expand-lg" [ngStyle]="{backgroundColor:bgColor}"> -->
<nav class="{{bgClass}}">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{title}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
            <form class="d-flex position-absolute top-50 start-50 translate-middle" role="search">
                <input name="Search" class="form-control me-2" type="text" placeholder="Search" aria-label="Search"
                    [(ngModel)]="search">
                <button class="btn btn-warning" type="submit">Search</button>
            </form>
            <p>{{currDate | date }}</p>
            <!-- <p>{{currDate | date: "fullDate"}}</p>
            <p>{{currDate | date: "short"}}</p>
            <p>{{currDate | date}}</p> -->
            <button class="btn btn-primary" type="button" (click)="onClickToggle()">Theme</button>
        </div>
    </div>
</nav>
<p>{{search}}</p>