<app-navbar></app-navbar>


<!-- String interpolation -->
<!-- <h1>{{title}}</h1> -->

<!-- Property Binding -->
<!-- <input class="form-control" [value]="productName" type="text" name="product-name" id="pn1"> -->

<!-- Event Binding -->
<!-- <button class="btn btn-primary" (click)="onClickSubmit()">Submit</button> -->

<!-- Two-Way data Binding -->
<app-products [allProducts]="productList"></app-products>
<app-add-product (sendDataEvent)="addNewProduct($event)"></app-add-product>
<app-practice></app-practice>